.Calculator{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Calculator_Body{
    display: flex;
    flex-direction: column;
    padding: 100px;
}

.Num_Pad{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 25px;
    gap: 20px;
    background-color: #212121;
}

#Display{
    color: white;
    background-color: black;
    border-radius: 5px;
    border: 0;
    width: 327px;
    height: 75px;
    font-size: 50px;
    padding: 20px;

}

.notation,.btn,.equal,.clear_button{
    color: white;
    border: none;
    border-radius: 0.25rem;
    width: 80px;
    height: 80px;
    font-size: 2rem;
    font-weight: bold;
}

#Row_0, #Row_1, #Row_2, #Row_3, #Row_4 {
  display: flex;
  gap: 15px;
}

.notation{
    background-color: #f8973c ;
}

.notation:active{
    background-color: darkorange;
}

.btn{
    background-color: #D3D3D3;
}

.btn:active{
    background-color: darkgray;
}

.equal{
    background-color: green;
}

.equal:active{
    background-color: darkgreen;
}

.clear_button{
    background-color: red;
}

.clear_button:active{
    background-color: darkred;
}